*{
    margin:0;
    padding:0;
}

.card-container{
    width:600px;
}

li{
    list-style-type:none;
    background-color: plum;
    height:200px;
    margin:1px; /*사이사이 나누는 틈*/
    border-radius: 5px; /*모서리 둥글게*/
}

ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}